/* body{
    margin: 0;
    padding: 0;
}

.kk{
    height: 200px;
    width: 200px;
    /* background: red; */
    /* border: 8px solid green;
    outline: 8px solid red;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    max-height: 500px;
    margin: 0 80px;
    padding-left: 10px; */ 
    /* padding-top: 10px; */
/* } */

/* .jj{
    
    background-image: url('https://i.imgur.com/TildTIx.png');
    background-repeat: no-repeat;
    height: 100px;
    background-position: center center;
    background-attachment: scroll;
} */
